<!DOCTYPE html>
<html>

<head>
  <title>Uusi suositus</title>
</head>

<body>
  <h1>Uusi suositus</h1>
  <form action="/create_item" method="post">
    <p>
      Matkakohde: <br />
      <input type="text" name="title" />
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8"cols="60"></textarea>
    </p>
    <p>
      Matkabudjetti: <br />
      <input type="text" name="budget" size="5"/> €
    </p>
    <input type="submit" value="Luo suositus"/>
  </form>
</body>

</html>
